/* Common rules */
* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #FF0000;
    --color-yellow: #FFFF00;
    --color-green: #008000;
}

.container {
    width: 1440px;
    margin: auto;
    
}
.products {
    height: 100vh;
    width: 100%;
}

#red {
    background-color: var(--color-red);
}